PORT=3001
TIMEZONE=America/Fortaleza

CHATWOOT_BASE_URL=https://chat.iainfinity.com.br
CHATWOOT_API_ACCESS_TOKEN=SEU_TOKEN_CHATWOOT
CHATWOOT_GROUP_NAME=Grupo Botta
CHATWOOT_INBOX_NAME=Atendimento
CHATWOOT_INBOX_PROVIDER=whatsapp
CHATWOOT_ACCOUNT_ID=18
CHATWOOT_INBOX_ID=77
CHATWOOT_MAX_PAGES=12

DIFY_BASE_URL=https://apiinteligencia.iainfinity.com.br/v1
DIFY_API_KEY=app-xxxxxxxxxxxxxxxx
DIFY_MODE=chat
DIFY_INPUT_LOG_FIELD=chat_log
DIFY_USER_PREFIX=chatwoot-contact
CHATWOOT_REQUEST_TIMEOUT_MS=45000
DIFY_REQUEST_TIMEOUT_MS=90000
